.pre{
    color: rgb(255, 255, 255);
    text-decoration: solid;
    background-color: rgb(169, 102, 185);

}
.pre2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: bold;
    text-align: center;

}